html {
  font-family: 'Cormorant Garamond', serif;
  background: gray;
}
header {
  background-image: url(../images/casas.jpg);
  font-family: 'Rampart One', serif;
  font-size: 20px;
}

#he1{
  color: yellow;
}

#he2{
  color: white;
}

#navegap {
  background: #a4bddf;
  font-family: 'Combo', serif;
  font-size: 20px;
}
aside {
  font-family: 'Combo', serif;
  font-size: 20px;
  height: auto;
  width: auto;
  background: orange;
}

.contenido {
  display: inline-block;
}

#houses {
  border: 2px solid white;
}

img {
  height: 200px;
  width: 200px;
}

#dc1, #dc2, #dc3, #dc4{
  font-family: 'Combo', serif;
  font-size: 20px;
  height: auto;
  width: auto;
  border: 1px solid black;
  display: inline-block;
}

#dc1 {
  background: #ffc600;
}
#dc2 {
  background: #edff21;
}

#dc3 {
  background: #3b83bd;
}

#dc4 {
  background: #287233;
}

#ic1, #ic2, #ic3, #ic4 {
   display: block;
   margin: auto;
}

.casa {
  border: 2px solid black;
}

#c1 {
  background: #d9ad26;
}

#c2 {
  background: yellow;
}

#c3 {
  background: #87ceeb;
}

#c4 {
  background: #c0c0c0;
}

footer {
  font-size: 20px;
  height: auto;
  width: auto;
  background: #c2c2c2;
  border: 2px dotted;
}
